<%= form_for(case_file, html: {role: 'form', class: 'form-horizontal'}) do |f| %>
<% if case_file.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(case_file.errors.count, "error") %> prohibited this case_file from being saved:</h2>

  <ul>
    <% case_file.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <div class="col-lg-10 col-lg-offset-1">
    <%= f.label :name, class: 'sr-only' %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Case Name' %>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-3 col-lg-offset-1" align="left">
    <%= f.label "case_file[advocate_id]", "Adovcate Name" %>
  </div>
  <div class="col-lg-7">
    <%= select_tag "case_file[advocate_id]", options_from_collection_for_select(@advocates, "id", "name", @case_file.advocate_id), class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-3 col-lg-offset-1" align="left">
    <%= f.label 'case_file[client_id]', "Client Name" %>
  </div>
  <div class="col-lg-7">
    <%= select_tag 'case_file[client_id]', options_from_collection_for_select(@clients, "id", "name", @case_file.client_id), class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-3 col-lg-offset-1" align="left">
    <%= f.label :file_received_on, "Received On" %>
  </div>
  <div class="col-lg-7">
    <%= f.date_select :file_received_on, {}, {class: 'form-control form-control-date'} %>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-3 col-lg-offset-1" align="left">
    <%= f.label :appeal_on, "Appeal On" %>
  </div>
  <div class="col-lg-7">
    <%= f.date_select :appeal_on, {}, {class: 'form-control form-control-date'} %>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-3 col-lg-offset-1" align="left">
    <%= f.label :convocation_on, "Convocation On" %>
  </div>
  <div class="col-lg-7">
    <%= f.date_select :convocation_on, {}, {class: 'form-control form-control-date'} %>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-10 col-lg-offset-1">
    <%= f.label :amount_paid, class: 'sr-only' %>
    <%= f.text_field :amount_paid, class: 'form-control', placeholder: 'Amount Paid' %>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-10 col-lg-offset-1">
    <%= f.label :status, class: 'sr-only' %>
    <%= f.select :status, CaseFile.statuses.keys, {}, {class: 'form-control'} %>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-10 col-lg-offset-1">
  <%= f.submit "Submit", class: 'btn btn-success btn-block' %>
  </div>
</div>
<% end %>
