<p id="notice"><%= notice %></p>

<p>
  <strong>F name:</strong>
  <%= @advocate.f_name %>
</p>

<p>
  <strong>L name:</strong>
  <%= @advocate.l_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @advocate.dob %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @advocate.phone %>
</p>

<%= link_to 'Edit', edit_advocate_path(@advocate) %> |
<%= link_to 'Back', advocates_path %>
